* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

body {
    font-family: Lato, sans-serif;
    color: #d715a7ea;
    text-align: center;
}

/* headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #edcb0cf9;
}

/* #logo{
    float: left;
    font-size: 260%;
    margin-left: 30px;
} */
.logo {
    height: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}



/* navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



#menu li {
    list-style-type: none;
    margin-right: 30px;
    float: right;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #05da4c;
}

.active {
    border-bottom: 1px solid #b30f4e;
}

/* Chandrayaan-3 image and cover text */

#vikram-lander {
    height: 600px;
    width: 100%;
}

.left-right-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-paragraph,
.right-paragraph {
    width: 100%;
    margin: 10px;
    border: 1px solid #1fbb39;
    min-height: 170px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    /* padding: 0 20px; */
}

#cover-image {
    height: 550px;
    width: 100%;
    background: url("/assets/images/chandrayaan-3.13.png")center center/cover;

    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-position: 0 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.cover-text {
    position: absolute;
    top: 15%;
    font-size: 120%;
    width: 400px;
    padding: 30px;
    height: 120px;
    background-color: rgba(222, 219, 8, 0.829);
    display: flex;
    justify-content: right;
    flex-direction: column;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}



/* Creates the level of zoom for Isro image */
@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2 {
    color: #11c4dc;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald;
    text-transform: lowercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(17, 224, 145, 0.7);

    bottom: 30px;
    right: 180px;

    position: absolute;

}

/* chandrayaan-3 */

#chandrayaan-3 {
    height: 500px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 30%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #0eae36;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* pragyan rover center image */

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}



#Square-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #16c174;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../assets/images/chandrayaan-3-9.jpg") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-width: 300px;
}

/* Event times */

#times {
    background-image: url("https://www.isro.gov.in/Chandrayaan3.html");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgb(199, 14, 205);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #cd670ed6;
}

/* Footer */

footer {
    height: 130px;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks a {
    text-decoration: none;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #2d92b7;
}

/* Gallery Photos */

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

/* Form */

.form-section {
    clear: left;
    background: url("https://www.isro.gov.in/Gallery.html/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;

}

.signup-form {
    margin: 150px 10% 0 0;
    color: #f0ae12;
    background-color: rgba(237, 6, 6, 0);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form>h2 {
    color: #e91c41d3;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #0cbdbd;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #3fbc27;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (min-width: 450px) {
    #cover-image {
        margin: 0 auto;
        background-position: center;
    }

    .left-paragraph,
    .right-paragraph {
        height: 200px;
    }
}

/* For large to medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        margin-top: 20px;
    }

    #cover-text {
        left: 0px;
    }

    #Isro {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }

    #photo {
        column-count: 3;
    }
}

/* For medium screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {
    #chandrayaan-3 {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #photo {
        column-count: 2;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }

    .left-right-container {
        flex-direction: column;
    }

    .left-paragraph,
    .right-paragraph {
        margin: 10px auto;
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    header {
        flex-direction: column;
    }
}